:root{
  --accent-color: #160a5d;
  --base-color: white;
  --text-color: #50497a;
  --input-color: #F3F0FF;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body{
  background-color: #f5f3ff;
  color: var(--text-color);
}

/* NAVBAR */
.navbar{
  height: 70px;
  background: var(--base-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.logo{
  font-weight: 800;
  color: var(--accent-color);
  font-size: 1.3rem;
}

.nav-right a{
  margin-left: 25px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.nav-right a.active,
.nav-right a:hover{
  color: var(--accent-color);
}
.nav-left span{
  cursor: pointer;
}
.login-btn{
  padding: 8px 18px;
  background: var(--accent-color);
  color: white !important;
  border-radius: 999px;
}

/* MAIN */
.container{
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

h1{
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 30px;
}

/* FORM */
.prediction-form{
  background: white;
  padding: 30px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.field{
  display: flex;
  flex-direction: column;
}

.field label{
  font-weight: 500;
  margin-bottom: 5px;
}

.field input,
.field select{
  height: 45px;
  border-radius: 10px;
  border: 2px solid var(--input-color);
  padding: 0 12px;
  background: var(--input-color);
}

.field input:focus,
.field select:focus{
  outline: none;
  border-color: var(--accent-color);
}

.range-value{
  margin-top: 5px;
  font-weight: 600;
}

/* BUTTONS */
.predict-btn{
  grid-column: span 2;
  height: 50px;
  border-radius: 999px;
  border: none;
  background: var(--accent-color);
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.predict-btn:hover{
  background: var(--text-color);
}

/* RESULT */
.result-card{
  margin-top: 30px;
  background: white;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
}

.price{
  font-size: 2rem;
  font-weight: 800;
  color: var(--accent-color);
  margin: 10px 0;
}

.save-btn{
  padding: 10px 30px;
  border-radius: 999px;
  border: none;
  background: var(--text-color);
  color: white;
  cursor: pointer;
}
